.App {
  text-align: center;
  display: flex;
  width: 100vw;
  min-height:100vh;
  padding: 0px;
  
}

body{
  /* background-color: rgb(196 196 196 / 35%); */
  background-color: black;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  
}

