.StartContainer{
    width: 100vw;
    height: 100vh;
    display: flex;

}
.LoginContainer{
    width: 50vw;
    height: 100vh;
    margin: 0px;
    padding: 1cm;
    backdrop-filter: blur(8px);
  
}
.image-container{
    width: 50vw;
    height: 100vh;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    
    background: url('../public/loginBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    outline: 0px;
    
    
    /* back-webkit-filter: blur(8px); */
}  
.Design{
    width: 50vw;
    height: 100vh;
    margin: 0px;
    background-color: black;
   

    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 2cm;
    /* justify-content: center; */
}
.heading{
    font-size: 3rem;
    font-style: bolder;
    text-align: center;
    margin: 1cm;
}
.about{
    text-align: center;
}
.LoginButton{
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    padding-block: 7px;
    padding-inline: 14px;
    margin-block: 10px;
    display: block;
}
.LoginButton:hover{
    background-color: whitesmoke;
    color: black;
}
.SignUp-link{
    background-color: black;
    color: whitesmoke;
}
